@mixin overlay {
    position: absolute;
    top: 0px;
    left: 0px;
}

@mixin rotate($period) {
    animation: rotate $period linear infinite;
}

@mixin fittingBox {
    position: relative;
    height: 100%;
    width: fit-content;
}

.mouth {
    animation: rotate 1s cubic-bezier(0.14, 0.37, 0.46, 0.78) infinite;
    height: 100%;
}

.mouth2 {
    @include overlay;
    animation: rotate 1s cubic-bezier(0.46, 0.22, 0.46, 0.78) infinite;
    height: 100%;
}

.mouth_outer {
    @include fittingBox;
    z-index: 2;
}

.mouth_outer_rotate {
    @include fittingBox;
    @include rotate(6s);
    z-index: 2;
}

.base {
    @include overlay;
    z-index: 1;
    height: 100%;
}

.eyes {
    @include overlay;
    z-index: 2;
    height: 100%;
}

.face {
    @include fittingBox;
}

.face_rotate {
    @include fittingBox;
    @include rotate(8s);
}

.container {
    @include fittingBox;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}