.base, .eyes, .mouth2 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.mouth {
    animation: rotate 1s cubic-bezier(0.14, 0.37, 0.46, 0.78) infinite;
    height: 100%;
}

.mouth2 {
    animation: rotate 1s cubic-bezier(0.46, 0.22, 0.46, 0.78) infinite;
    height: 100%;
}

.mouth_outer {
    z-index: 2;
    animation: rotate 6s linear infinite;
}

.base {
    z-index: 1;
    height: 100%;
}

.eyes {
    z-index: 2;
    height: 100%;
}

.mouth_outer, .face, .face_rotate, .container {
    position: relative;
    height: 100%;
    width: fit-content;
}

.face_rotate {
    animation: rotate 8s linear infinite;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}