.mouth {
    animation: rotate 1s cubic-bezier(0.35, 0.17, 0.43, 0.82) infinite;
    height: 100%;
}

.mouth_outer {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    animation: rotate 6s linear infinite;
    height: 100%;
}

.base {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    animation: rotate 8s linear infinite;
    height: 100%;
}

.container {
    position: relative;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}