.spinner_mouth {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    animation: rotate 1s cubic-bezier(.16,.26,.31,.82) infinite;
    height: 100%;
}

.spinner_base {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    animation: rotate 8s linear infinite;
    height: 100%;
}

.spinner_container {
    position: relative;
    height: 30%;
}

.spinner_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes rotate {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
